@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(196, 169, 169);
    text-decoration-color: white;
    
}

button{
    border-radius: 5%;
    padding: 3em 5em;
    border: none;
    margin: 0.5em;
}

button:hover{
    background-color: gray;
}

#results{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40em;
}

h1.compSelection{
    display: flex;
    justify-content: center;
   
}

.score{
    display: flex;
    flex-direction: column;
    max-width: fit-content;        
    
}

.weapons{
    display: flex;
    
}

    
p{
    display: flex;
    justify-content: center;
}

.result{
max-width: fit-content;
}

.enemyweapon.h1{
    align-content: center;
    align-items: center;
    display: flex;
}


